@media (min-width: 48rem) {
  .button:hover {
    opacity: 1;
    font-family: "Base Font", serif;
    @starting-style { opacity: 0; }
    @media print {
      @supports (display: grid) {
        display: grid;
        font-family: "Print Font", serif;
      }
    }
  }
}
